# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/node_modules
/backend/.venv
/backend/venv
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/frontend/.next
/frontend/out

# data & misc
.DS_Store
*.pem
/backend/storage/
/backend/data/
/storage/
*.db
*.sqlite
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

